<!DOCTYPE html>
<html lang="{model.language}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{model.title}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<!--<img src="{model.logo}" alt="logo" style="width:250px;object-fit:cover;margin-top:20px" fetchpriority="high">-->
<h2>{model.header}</h2>
<p>{model.body}</p>
<h1><b>OTP: {model.otp}</b></h1>
<p>{model.footer1}</p>
<p>{model.footer2}</p>
<p>{model.footer3}</p>
<p>{model.footer4}</p>
</body>
</html>

