<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome on Project!</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<p>Dear user,</p>
<p>An account has been created and is associated with this email.</p>
<p>To set a new password, log on to <a href="{urlResetPassword.raw}">this address</a>.</p>
<p>If you find that the address has expired when you open it, please start the password recovery process.</p>
</body>
</html>
